body {
    display: grid;
    grid-template-areas: 
    "header  header  header"
    "nav nav nav"
    "content content content"
    "footer  footer  footer";
}


.header {
  grid-area: header;
}

.main-content {
  grid-area: content;
}

.flex-container,
.nav ul{
    display: flex;
}

.nav ul li,
.flex-item {
    padding: 0 2rem;
}

.nav {
  grid-area: nav;
  
}

.footer {
  grid-area: footer;
}
