body {
    display: grid;
    grid-template-areas: 
    "header  header  header"
    "nav     content ad"
    "sidebar content ad"
    "footer  footer  footer";
}


.header {
  grid-area: header;
}

.main-content {
  grid-area: content;
}

.nav {
  grid-area: nav;
}

.footer {
  grid-area: footer;
}

/*areas to try out or add*/

.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}