:root {
  --darkbrown: #493628;
  --tan: #AB886D;
  --lighttan: #D6C0B3;
  --light: #E4E0E1;
}

/*https://colorhunt.co/palette/e4e0e1d6c0b3ab886d493628*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Cascading_variables/Using_custom_properties*/

body {
    display: grid;
    grid-template-areas: 
    "header  header  header"
    "nav nav nav"
    "content content content"
    "footer  footer  footer";
    font-family: Arial, sans-serif;
  margin: 0;
}

header, main, footer, nav {
  padding: 20px;
}
main {
  padding: 20px;
}

h1, h2 {
  margin: 1rem 0 2rem 0;
}

p {
  color: var(--darkbrown);
}

.header {
  grid-area: header;
  background-color: var(--darkbrown);
}

nav {
  background-color: var(--tan);
}

nav a {
  color: var(--light);
}

.header h1, .header p {
  color: var(--light);
}

.main-content {
  grid-area: content;
}

.flex-container,
.nav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.nav ul li, 
.flex-item {
  margin: 1rem 0;
}

.nav {
  grid-area: nav;
} 

.flex-container * {
  color: var(--darkbrown);
}

.flex-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: .5rem;
}

.flex-item .fa-mug-hot {
  position: relative;
  bottom: 5px;
  font-size: 24px;
}

.flex-item i {
  margin-right: 10px;
  width: 24px;
  text-align: center;
}

.footer {
  grid-area: footer;
}

@media (min-width: 1024px) {
  .flex-container, .nav ul {
    flex-direction: row;
  }

  .nav, .flex-container {
    position: relative;
    left: -28px;
  }
 
  .nav ul li, 
  .flex-item {
    margin: 0 2rem;
  }

}